In [1]:
import pandas as pd

In [2]:
# Reading the dataset
df = pd.read_csv('.\datasets\customer_churn.csv')
df.head()

,Call Failure,Complaints,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,30,197.640,0
1,0,0,39,0,318,5,7,4,2,1,2,25,46.035,0
2,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520,0
3,10,0,38,0,4198,66,1,35,1,1,1,15,240.020,0
4,3,0,38,0,2393,58,2,33,1,1,1,15,145.805,0

In [3]:
# Size of the data
df.shape

(3150, 14)

In [4]:
# Describe some statistical features of the dataset
df.describe()

,Call Failure,Complaints,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,Churn
count,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000
mean,7.627937,0.076508,32.541905,0.942857,4472.459683,69.460635,73.174921,23.509841,2.826032,1.077778,1.248254,30.998413,470.972916,0.157143
std,7.263886,0.265851,8.573482,1.521072,4197.908687,57.413308,112.237560,17.217337,0.892555,0.267864,0.432069,8.831095,517.015433,0.363993
min,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15.000000,0.000000,0.000000
25%,1.000000,0.000000,30.000000,0.000000,1391.250000,27.000000,6.000000,10.000000,2.000000,1.000000,1.000000,25.000000,113.801250,0.000000
50%,6.000000,0.000000,35.000000,0.000000,2990.000000,54.000000,21.000000,21.000000,3.000000,1.000000,1.000000,30.000000,228.480000,0.000000
75%,12.000000,0.000000,38.000000,1.000000,6478.250000,95.000000,87.000000,34.000000,3.000000,1.000000,1.000000,30.000000,788.388750,0.000000
max,36.000000,1.000000,47.000000,10.000000,17090.000000,255.000000,522.000000,97.000000,5.000000,2.000000,2.000000,55.000000,2165.280000,1.000000

In [5]:
# Columns
df.columns

Index(['Call Failure', 'Complaints', 'Subscription Length', 'Charge Amount',
       'Seconds of Use', 'Frequency of use', 'Frequency of SMS',
       'Distinct Called Numbers', 'Age Group', 'Tariff Plan', 'Status', 'Age',
       'Customer Value', 'Churn'],
      dtype='object')

In [6]:
# How many rows would remain in each feature after removing the outliers using IQR method
for column in df.columns:

    Q1 = df[column].quantile(.25)
    Q3 = df[column].quantile(.75)

    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df_without_outliers = df[(df[column] < upper) & (df[column] > lower)]
    df_shape = [column, df_without_outliers.shape]

    print(df_shape)

['Call Failure', (3103, 14)]
['Complaints', (0, 14)]
['Subscription Length', (2837, 14)]
['Charge Amount', (2780, 14)]
['Seconds of Use', (2950, 14)]
['Frequency of use', (3021, 14)]
['Frequency of SMS', (2782, 14)]
['Distinct Called Numbers', (3065, 14)]
['Age Group', (2980, 14)]
['Tariff Plan', (0, 14)]
['Status', (0, 14)]
['Age', (2462, 14)]
['Customer Value', (3034, 14)]
['Churn', (0, 14)]

In [7]:
# Remove the outliers using IQR method of a selected array of features
selected_columns = df[['Call Failure', 'Subscription Length', 'Charge Amount', 'Seconds of Use', 'Frequency of use',\
              'Frequency of SMS', 'Distinct Called Numbers', 'Age Group', 'Age', 'Customer Value']]

#df_to_iterate = df
for column in selected_columns.columns:
    Q1 = selected_columns[column].quantile(.25)
    Q3 = selected_columns[column].quantile(.75)

    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]

df.shape

C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]
C:\Users\felip\AppData\Local\Temp\ipykernel_23732\880940229.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(selected_columns[column] < upper) & (selected_columns[column] > lower)]

(1631, 14)

In [8]:
# Save a new data set without the outliers in the 'datasets' folder in order to run the model and evaluate it
df.to_csv('.\datasets\customer_churn_iqr_removed.csv', index = False)